.elements {
  max-width: 100%;
  margin: 50px auto auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 282px));
  grid-template-rows: auto;
  column-gap: 17px;
  row-gap: 20px;
  /* Адекватные карточки */
  justify-content: center;
}



@media all and (max-width: 425px) {
  .elements {
    margin-top: 36px;
  }
}
