.element__title {
  /* В figma нет четких определений */
  max-width: 195px;
  margin: 0;
  text-align: left center;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
